body{
    background-image: url("https://images2.alphacoders.com/130/1306168.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}

main{
    margin-bottom: 3rem;
}



/* Estilização index */
.noticia{
    
    width: 500px;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
}

.noticia img{
    width: 80%;
}


/* Estilização lutadores */
#titulo{
    text-align: center;
    color: white;
}
img.img-lutador{
    width: 50%;
    height: 200px;
    object-fit: cover;
}



div.lutadores{
    margin-bottom: 50px;
    width: 200px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
}




h1#charles{
    
}

.navbar{
   
    margin-bottom: 50px;
    padding:20px ;
    text-align: center;
    background-color: white;
}

.link{
    margin-right: 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    padding: 10px 20px;
    border-radius: 10px;
   color: black;
   text-decoration: none;
}

.link:hover{
    color: rgb(197, 2, 2);
    
    transition: 0.3s ease-in-out;
}

.cards{
    display: flex;
    justify-content: space-around;
}

.cards{
    margin-bottom: 2rem;
}



footer{
    width: 100%;
    padding: 1rem 1rem;
    background-color: black;
    color: white;
    font-size: 1.5rem;
    position: fixed;
    bottom: 0;
}

